<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/s3_db_lab_5?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">student</property>
        <property name="connection.password">1234</property>
        <mapping class="ua.iot.lviv.model.ClientEntity"/>
        <mapping class="ua.iot.lviv.model.DiagnosisEntity"/>
        <mapping class="ua.iot.lviv.model.DoctorEntity"/>
        <mapping class="ua.iot.lviv.model.PetEntity"/>
        <mapping class="ua.iot.lviv.model.ScheduleEntity"/>
        <mapping class="ua.iot.lviv.model.ServiceEntity"/>
        <mapping class="ua.iot.lviv.model.VisitEntity"/>
<!--        <property name="connection.username"/>-->
<!--        <property name="connection.password"/>-->

        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>